html {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  text-align: center;
  background-color: black;

  padding: 0;
  margin: 0;

  font-family: 'Titillium Web', sans-serif; 
}

a {
  color: orange;
}

#threedemo {
  position: fixed;
  z-index: -1;
  top: 0; right: 0; bottom: 0; left: 0;
}

#title {
  font-weight: 400;
  font-size: 50px;
}

#subtitle{
  font-weight: 400;
  font-size: 25px;
}

#contact {
  vertical-align: middle;
}
/*
#project { 
  height: 100vh;
}*/

.header {
  text-align: left;
  background: transparent;

  margin-left: 10%;
  margin-top: 5%; 
  margin-bottom: 5%;

  position: relative; /* this could be absolute depending on application*/
  z-index: 1;
}

.content {
  padding: 0;
  margin: 0;

  background: transparent;

  position: relative; /* this could be absolute depending on application*/
  z-index: 1;
}

.navbar {
    font-size: 20px;
    font-weight: 700;
}

.bottom-box {
  display: flex;
  justify-content: space-between;
}

.navbar > * {
    padding-top:5px !important; padding-bottom:5px !important;
    height: 32px;
}
.navbar {min-height:32px !important;}

.space {
  background-color: transparent;
  height: 100px;
}

.info {
  background-color: #222;
  padding: 36px;
}

.project-list {
  overflow-y: auto;
  max-height: 100%;
  margin-bottom: 32px;
}

.project-btn {
  width: 100%;
}

.parentH {
  height: 100%;
}

.translucid {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); 
  height: 32px;
}

.well {
  /*color: black;*/
  background-color: rgb(25,25,25);
  text-align: left;
}

